grpc:
  server:
    port: 9095
    address: 0.0.0.0
    netty:
      max-concurrent-streams: 100000
      use-epoll: false
server:
  port: 8080

spring:
  grpc:
    server:
      enabled: true
  application:
    name: springboot-grpc-traps-service-server
  data:
    mongodb:
      uri: mongodb://localhost:27017/mydb
management:
  server:
    port: 8081
  tracing:
    enabled: true
    sampling:
      probability: 1.0
#  otlp:
#    tracing:
#      endpoint: http://tempo:4317
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}

    enable:
      all: true
      grpc: true

    distribution:
      percentiles-histogram:
        grpc.server.processing.duration: true
        grpc.client.processing.duration: true
      percentiles:
        - 0.5
        - 0.95
        - 0.99

    export:
      prometheus:
        enabled: true

logging:
  level:
    root: INFO
  logback:
    configuration-file: classpath:logback-spring.xml

otel:
  traces:
    exporter: otlp
  otlp:
    endpoint: http://localhost:4317
  resource:
    attributes:
      service.name: ${spring.application.name}
