services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
      - loki
      - tempo
    networks:
      - monitor-net

  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    user: "root"
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki-config.yaml
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - ./loki/data:/loki
    networks:
      - monitor-net
  tempo:
    image: grafana/tempo:2.7.0
    container_name: tempo
    user: "root"
    ports:
      - "3200:3200"
      - "9411:9411"
    command: [ "-config.file=/etc/tempo/tempo-config.yaml" ]
    volumes:
      - ./tempo/tempo-config.yaml:/etc/tempo/tempo-config.yaml:ro
      - ./tempo/data:/var/tempo
    networks:
      - monitor-net
volumes:
  prometheus_data:
  grafana_data:

networks:
  monitor-net:
    driver: bridge
