server:
  http_listen_port: 3200
  grpc_listen_port: 4317

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
        http:

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
    final_sleep: 0s

metrics_generator:
  processor:
    service_graphs: {}
    span_metrics: {}

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
